@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    /*background-image: url('http://QuizApp:8809/assets/images/397969.jpg') no-repeat center center;*/
    background-image: url('https://wallpaperaccess.com/full/846241.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

